<%= form_for(@feedback, :remote => true, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="control-group <%= @feedback.errors[:type].empty? ? '' : 'error' %>">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select_tag(:city_id, options_for_select([['bug','bug'],['suggestion','suggestion']])) %>
      <% @feedback.errors[:type].each do |msg| %>
        <p class="help-inline"><%= msg %></p>
      <% end %>
    </div>
  </div>

  <div class="control-group <%= @feedback.errors[:email].empty? ? '' : 'error' %>">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
      <% @feedback.errors[:email].each do |msg| %>
        <p class="help-inline"><%= msg %></p>
      <% end %>
    </div>
  </div>

    <%= f.hidden :url, :value => 'http://somesite.com' %>
    <%= f.hidden :url, :value => "#{request.env['HTTP_USER_AGENT']}" %>

  <div class="control-group <%= @feedback.errors[:message].empty? ? '' : 'error' %>">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :size => "10x5" %>
      <% @feedback.errors[:message].each do |msg| %>
        <p class="help-inline"><%= msg %></p>
      <% end %>
    </div>
  </div>
<% end %>
